doctype html
html
    head
        title Bättre än västtrafik 🤴
        meta charset="utf-8"
        meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"
        link href="https://fonts.googleapis.com/css?family=Lobster|Lobster+Two" rel="stylesheet"
        link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
        link rel="stylesheet" href="/css/main.css"
        link rel="stylesheet" href="/css/default.css"
        link rel="stylesheet" href="/css/default.time.css"
        link rel="stylesheet" href="/css/default.date.css"
        link href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"
        link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"
        script src="/js/moment.min.js"
        script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"
        script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"
        script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"
        script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"
        //script defer="" src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
        script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js" type="text/javascript"
        script src="/js/anime.js"
        script src="/js/main.js"

    body
        nav
            h1 lets create a website!! 🤴🤴🤴🤴🤴 jag är kung 😇
            a.m-5 href="/" Home
            -if session[:logged_in]
                a.m-5 href="/logout" Logout
                h1 my 🧟 is my friend🤦🤦🤦🤦🤦🤦🤦🤦 👁👁👁👁👁👁👁👁
            -else
                h1 yall jushatin  
                a.m-5 href="/login" Login
                a.m-5 href="/register" Create Account 🤖 bleeepop robot stuff
        .container.text-white.d-flex.flex-column
            == yield