link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"

link rel="stylesheet" href="/css/theo.css"

h1 Welcome to THEOS  page 😂             😂😂😂😂😂😂😂

h1 many cute cats! 🐈

img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcheckportale.de%2Fwp-content%2Fuploads%2F2013%2F05%2Fjoe-danger-02.png&f=1"

img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Ftvoydosug.com%2Fwp-content%2Fuploads%2F2015%2F12%2FPics-of-cute-cats-1.jpg&f=1"

img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Ffunnyanimalpictures.funnypicturesutopia.com%2Fpics%2F2%2FVery-Cute-Kitty-Cat-Makes-An-Angry-Face-Funny-Picture.jpg&f=1"

img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Ffunnyanimalpictures.funnypicturesutopia.com%2Fpics%2F16%2FVery-Cute-Little-Kitty-Cat-In-My-Hand-Beautifull-Picture.jpg&f=1"

p we do CRAZY STUFF

marquee#haters Ok haters 😠. if yall are hating all the time ⏰, why dont ya just frick offf!!! what would JOE DANGER DO? 🤔

button.my_button click me

iframe src="http://free.timeanddate.com/countdown/i631fc3w/n291/cf113/cm0/cu4/ct0/cs0/ca0/cr0/ss0/cac000/cpc000/pc00e60b/tc000/fs100/szw320/szh135/tatTime%20left%20to%20until%20Event%20JOE%20take%20WORLD/tac9f0/tptTime%20since%20Event%20started%20in/tpc000/matyalll%20be%20hatin%20one%20JOe.%20FRICK%20OFF-%20THE%20O/macf9f/mpc000/iso2080-01-26T00:00:00/pr20" allowTransparency="true" frameborder="0" width="341" height="137"

marquee
    iframe src="http://free.timeanddate.com/countdown/i631fc3w/n291/cf113/cm0/cu4/ct0/cs0/ca0/cr0/ss0/cac000/cpc000/pc00e60b/tc000/fs100/szw320/szh135/tatTime%20left%20to%20until%20Event%20JOE%20take%20WORLD/tac9f0/tptTime%20since%20Event%20started%20in/tpc000/matyalll%20be%20hatin%20one%20JOe.%20FRICK%20OFF-%20THE%20O/macf9f/mpc000/iso2080-01-26T00:00:00/pr20" allowTransparency="true" frameborder="0" width="341" height="137"

.hero
    h1
        | Joe DAnger  😁
        |  
        - 600.times do |x|
            | 🍆

- colors = ["blue", "cyan", "black"]

h1 Joe Dangers DANCE FLOOR! 💃
- 20.times do |x|
    h1 💃
    .tile style="background-color: #{colors.sample}"

a href="/" click me to go back 😻😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭😭💚
